.menu{
    background-color: white;
    display: flex;
    padding: 0;
    justify-content: center;
}
.list{
    list-style: none;
    padding: 10px;
}
.list a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
}
.list a::before{
    content: '';
    width: 0px;
    height: 3px;
    background-color: chocolate;
    position: absolute;
    top: 100%;
    left: 0px;
    transition: .5s;
    mix-blend-mode: multiply;
}
.list a::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: rgb(197, 15, 106);
    position: absolute;
    top: 100%;
    right: 0px;
    transition: .5s;
    mix-blend-mode: multiply;
}
.list:hover{
    background-color: rgba(148, 105, 25, 0.164);
}
.list:hover a::before{
    width: 50%;
    transform: translateX(100%);
}
.list:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
h1{
    color: rgb(201, 191, 135);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one{
    display: table;
    margin: 0 auto;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 30px;
    font-weight: bold;
    
}
.one1{
    display: table;
    margin: 0 auto;
    color: black;
    font-weight: bold;
}
.yes{
    display: table;
    margin: 0 auto;
    white-space: pre-line;
    word-wrap: break-word;
    font-weight: bold;
    margin-top: 30px;
}
body{
    background-color: rgba(210, 180, 140, 0.315);
}
.up-up{
    margin-left: 214px;
    font-weight: bold;
    color: black;
}
.three{
    display: table;
    margin: 0 auto;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 30px;
    font-weight: bold;
    line-height: 23px;
    padding: 10px;

}
.two{
    display: table;
    margin: 0 auto;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 30px;
}
.table{
    background-color: rgba(231, 216, 80, 0.438);
}
.Connection{
    background-color: rgba(115, 214, 49, 0.178);
    color: rgb(182, 17, 17);
    border-radius: 15px;
}
